<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
	<h1>Review:</h1>
	<div ng-app="myApp" ng-controller="myCtrl">
		<label>Comentário:</label>
		<textarea ng-model="comment"></textarea>
		</br>		
		<label>Avaliação:</label>		
		<input type="number" min="0" max="5" ng-model="stars"></p>

		</br>

		<h2>Preview do comentário:</h2>
		<p>{{comment}}</p>
		<p>{{stars}} estrelinhas!</p>
	</div>

	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope){
			$scope.comment="digite seu comentário aqui.";
			$scope.stars=0;
		});
	</script>
</body>
</html>