<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Exercício AngularJS: 1.3 - Avaliação</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script data-require="angular.js@1.4.6" data-semver="1.4.6" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="app13.js"></script>
    <!--<script src="estrela.js"></script>-->
  </head>

  <body>
    <div ng-controller="ComentarioController as commCtrl">
      <h1>Review do Produto X</h1>
      <br><br>

      <!-- FIQUEI 40 MINUTOS TENTANDO BOTAR ESTRELA, A MALDITA ESTRELA | NÃO É USADO PRA NADA, É SÓ PQ O EXERCÍCIO PEDIU | -->
      <h1>Estrelas: <select name="nota" ng-model="nota">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
       </select></h1>
       <h6>Fiquei 40 minutos tentando botar as malditas estrelas</h6>

      <!-- CAMPO DE TEXTO PARA COMENTÁRIO + PRÉVIA -->
      <br><br>
      <label for="comment">Comentário:</label>
      <textarea class="form-control" rows="5" id="comentario" ng-model="commCtrl.comentario"></textarea><br>
      Prévia do seu comentário: <br>
      {{commCtrl.comentario}}
      <br>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
