<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Exercício AngularJS: Controllers</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-controller="LogController">
        Mensagem: <input type="text" ng-model="mensagem"> <br>
        Tipo: <br>
        <input type="radio" name="tipo" value="0" ng-model="tipo"> Aviso <br>
        <input type="radio" name="tipo" value="1" ng-model="tipo"> Erro <br>
        <button ng-click="logS.printLog(tipo, mensagem)">Gerar log</button>
    </div>
  </body>
</html>