<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Exercício AngularJS: Services</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-controller="ComprasController as comprasCtrl">

      <h2>Supermercados Belo Vale</h2>
      Descricao: <input type="text" ng-model="comprasCtrl.descricao"> <br>
      Preco: <input type="number" min="0.01" ng-model="comprasCtrl.preco"> <br>
      Qtd: <input type="number" min="1" ng-model="comprasCtrl.qtd"> <br><br>
      
      <button ng-click="comprasCtrl.adicionarItem()">Add item</button>
    </div>
    
    <div ng-controller="CheckoutController as checkout">
    	<h3>Recibo</h3>
    	
    	<table style="border: 1px solid black;">
	        <tr style="border: 1px solid black;">
	          <th style="border: 1px solid black;">Descricao</th>
	          <th style="border: 1px solid black;">Preco</th>
	          <th style="border: 1px solid black;">Quantidade</th>
	        </tr>

	        <tr ng-repeat="item in checkout.carrinho.itens">
	          <td style="border: 1px solid black;">{{item.descricao}}</td>
	          <td style="border: 1px solid black;">{{item.preco}}</td>
	          <td style="border: 1px solid black;">{{item.quantidade}}</td>
	        </tr>
	    </table>
	    <h4>Preço total: {{checkout.carrinho.total | currency:'R$'}}</h4>
    </div>
  </body>
</html>
