<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Filtros</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <style>
      td, th{
        text-align: center;
        padding-right: 10px !important;
      }
    </style>
  </head>
  <body ng-app="FuncionariosApp" ng-controller="FuncionariosController as funcCtrl">

    Pesquisa: <input type="text" ng-model="searchInput"><br>
    Limite de busca: <input type="number" ng-model="limit"><br>

    <table>
      <tr>
        <th>
          <b>Nome</b>
        </th>
        <th>
          <b>CPF</b>
        </th>
        <th>
          <b>E-mail</b>
        </th>
        <th>
          <b>Telefone</b>
        </th>
        <th>
          <b>Salário</b>
        </th>
      </tr>
      <tr ng-repeat="employee in funcCtrl.employees | filter:searchInput | orderBy:'name' | limitTo:limit">
        <td>
          {{employee.name}}
        </td>
        <td>
          {{employee.cpf}}
        </td>
        <td>
          {{employee.email}}
        </td>
        <td>
          {{employee.phone}}
        </td>
        <td>
          {{employee.salary}}
        </td>
      </tr>
    </table>

  </body>
</html>