<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exercícios: Filtros</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body ng-app="FuncionariosApp" ng-controller="FuncionariosController as funcCtrl">

    <p style="padding:10px">
      <input type="radio" ng-model="ordem" value="name"> Nome
    </p>
    <p style="padding:10px">
        <input type="radio" ng-model="ordem" value="cpf"> CPF
    </p>
    <p style="padding:10px">
        <input type="radio" ng-model="ordem" value="email"> E-mail
    </p>
    <p style="padding:10px">
        <input type="radio" ng-model="ordem" value="phone"> Telefone
    </p>
    <p style="padding:10px">
        <input type="radio" ng-model="ordem" value="salary"> Salário
    </p>
  

    <p>
      <input type="text" ng-model="filtro" placeholder="Filtro">        
    </p>
 
    <table border="1">
      <tr>
        <td>
          <b>Nome</b>
        </td>
        <td>
          <b>CPF</b>
        </td>
        <td>
          <b>E-mail</b>
        </td>
        <td>
          <b>Telefone</b>
        </td>
        <td>
          <b>Salário</b>
        </td>
    </tr>
      <tr ng-repeat="employee in funcCtrl.employees | orderBy: ordem | filter: filtro">
        <td>
          {{employee.name}}
        </td>
        <td>
          {{employee.cpf | CPFfilter}}
        </td>
        <td>
          {{employee.email}}
        </td>
        <td>
          {{employee.phone | PhoneFilter}}
        </td>
        <td>
          {{employee.salary | currency}}
        </td>
      </tr>
    </table>

  </body>
</html>
