<!DOCTYPE html>
<html>
  <head>
  <style>
          table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
              background-color: 
          }
          th, td {
              padding: 5px;
              text-align: left;
          }
      </style>
    <meta charset="utf-8">
    <title>Exercícios: Filtros</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body ng-app="FuncionariosApp" ng-controller="FuncionariosController as funcCtrl">

    Buscar funcionário: <input type="text" ng-model="searchInput"> <br>
    Limite de <input type="number" ng-model="limite"> funcionários mostrados

    <table style="width:100%" >
      
        <td>
          <b>Nome</b>
        </td>
        <td>
          <b>CPF</b>
        </td>
        <td>
          <b>E-mail</b>
        </td>
        <td>
          <b>Telefone</b>
        </td>
        <td>
          <b>Salário</b>
        </td>
      
      <tr ng-repeat="employee in funcCtrl.employees | orderBy:'name' | filter: searchInput | limitTo: limite">
        <td>
          {{employee.name}}
        </td>
        <td>
          {{employee.cpf  | cpf}}
        </td>
        <td>
          {{employee.email}}
        </td>
        <td>
          {{employee.phone | telefone}}
        </td>
        <td>
          {{employee.salary | currency: 'R$'}}
        </td>
      </tr>
    </table>

  </body>
</html>
