<!DOCTYPE html>
<html ng-app="myApp">
  <head>
      <style>
          table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
          }
          th, td {
              padding: 5px;
              text-align: left;
          }
      </style>
    <meta charset="utf-8">
    <title>Exercício AngularJS: Controllers</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-controller="TemperaturaController as tempCtrl">
      <h2>Conversor de temperatura</h2>
      Celsius: <input type="text" ng-model="tempCtrl.celsius"> <br>
      Kelvin: {{tempCtrl.celsiusToKelvin(tempCtrl.celsius)}} <br>
      Fahrenheit: {{tempCtrl.celsiusToFht(tempCtrl.celsius)}}
    </div>
    <div ng-controller="impostoController as impCtrl">
      <h2>Calculador de imposto é roubo</h2>
      Salário: R$<input type="number" ng-model="impCtrl.salario"> <br>
      Imposto: R${{impCtrl.calculaimposto(impCtrl.salario)}}
    </div>
    <div ng-controller="reviewController">
      <h2>Rotten Potatoes</h2>
      Comentário: <textarea ng-model="comment"></textarea> <br>
      Estrelas: <input type="number" ng-model="nota" min="0" max="5"> <br>
      <button ng-click="criaReview()">Enviar comentário</button>

      <h3>Preview: </h3>
      Comentário: {{comment}} <br>
      Estrelas: {{nota}}<br>

      <h3>Reviews:</h3>
      <div ng-repeat= "rev in reviews" style="border: 1px solid black; padding-left: 10px;">Comentário: {{rev.comment}} <br>
        Estrelas: {{rev.nota}}
      </div>
    </div>
    <div ng-controller="contactController">
      <h2>Agenda Telefonica</h2>
      <h5>Para editar um contato use o formulário abaixo também</h5>
      Nome: <input type="text" ng-model="nome"> <br>
      Telefone: <input type="number" ng-model="telefone"> <br>
      E-Mail: <input type="text" ng-model="email"> <br>
      <button ng-click="adicionaContatos()">Adicionar Contato</button>

      <h3>Contatos</h3>
      <table style="width:100%">
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>E-mail</th>
          <tr ng-repeat="cont in contacts"> 
            <td> {{cont.nome}}</td>
            <td>{{cont.telefone}}</td>
            <td>{{cont.email}}</td>
            <td><button ng-click="editaContato($index)">Editar Contato</button></td>
            <td><button ng-click="removeContato($index)">Remover Contato</button></td>
          </tr>
        </tr>
      </table>

      </div>
    </div>
  </body>
</html>
