<!DOCTYPE html>
<html ng-app>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
  <meta charset="utf-8">
  <title>Exercicio 4</title>
</head>
    <body>
        <div>
            <p>Custo: <input type="number" ng-model="custo"></p>
            <button ng-click="cost = custo+custo/10.0">Confirma</button>
        </div>        
        <div>
            <p>Preço estimado: {{custo+custo/10.0 || 0}}</p>
        </div>
        <div>
            <p>Total: {{::cost}}</p>
        </div>
    </body>
</html>