<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Exercício AngularJS: Controllers</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <h1>Lojinha do Zeca Urubu</h1>
    <h3>Nosso desconto é a sua maior vigarice</h3>
    
    <div ng-controller="ComprasController">

      <h3>Adicionar item ao carrinho</h3>
      Descrição: <input type="text" ng-model="item.descricao">
      Preço: <input type="number" ng-model="item.preco">
      Quantidade: <input type="number" ng-model="item.quantidade">
      <button ng-click="adicionaItem()">Adicionar item ao carrinho</button>
    
    </div>

    <div ng-controller="CheckoutController">
      
      <b>Preço total: {{ calculaTotal() }}</b>

      <h4>Lista de Compras<h4>
      <table border="1">
        <tr>
          <td>Descrição</td>
          <td>Preço</td>
          <td>Quantidade</td>
        </tr>
        <tr ng-repeat="x in carrinho.listaCompras" style="border-style: inset">
          <td>{{ x.descricao }}</td>
          <td>{{ x.preco }}</td>
          <td>{{ x.quantidade }}</td>
        </tr>
      </table>

    </div>
  </body>
</html>